<!-- Nested in 'rental' -->
<div class="rental-detail">
  <h2>{{rental.city}} {{rental.type}}</h2>
  <img src={{rental.image}} alt={{rental.type}}>
  <p>Location: {{rental.city}}</p>
  <p>{{rental.bedrooms}} bedroom {{rental.type}}</p>
  <p>Contact: {{rental.owner}}</p>
  <br>
</div>
