<h1>Important Announcements</h1>

<ul>
  {{#each model as |announcement|}}
     <li>
       <h4>{{announcement.title}}</h4>
        <p>{{announcement.date}}</p>
        <p>{{announcement.message}}</p>
        <button {{action 'destroyAnnouncement' announcement}}>Delete Announcement</button>
     </li>
  {{/each}}
</ul>

{{new-announcement saveAnnouncement="saveAnnouncement"}}
